/* UNIVERSAL STYLES */
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: Helvetica, sans-serif;

  }

  main {

  }

/* HEADER */
  header {
    background-color: Black;
    position: fixed;
    width: 98%;
    height: 5rem;
    color: White;
    display: flex;
    align-items: center;


  }

  .logo {
    margin-left: 7%;
    margin-right: 3%;
  }

/* HERO IMAGE */
  .hero_image {
    background: url("../resources/images/moto.jpeg")
       center center no-repeat;
    background-size: cover;
    max-width: 98%;
    height: 35rem;
    border: 1px solid Grey;
  }

  .title_box{
    background-color: Black;
    min-width: 300px;
    max-width: 350px;
    padding: 0.75rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 22rem;
    margin-left: 1rem;
    margin-bottom: auto;
    color: White;
    border: 1px solid red;
  }

  .title_box h1 {
    display: block;
    border: 1px solid blue;
  }


/* NAVIGATION BAR */



/* PRODUCTS */
  .products {
    width: 85%;
    margin: 5% auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
      border: 1px solid blue;
  }

  figure {
    /* width: 50%; */
    max-width: 225px;
    min-width: 225px;
    height: 240px;
    margin: 1%;
    border: 3px solid Black;
    display: flex;
    flex-flow: column;
  }

  .image_wrapper {
    width: 95%;
    height: 70%;
    margin: auto;
    /* overflow:hidden; */
    display: flex;
      border: 1px solid purple;
  }

  figure img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
      border: 1px solid red;
      padding: 10%;
  }

  figcaption {
    background-color: Black;
    color: White;
    height: 3em;
    display: flex;
    /* margin: auto; */
    align-items: center;
    justify-content: center;
      border: 1px solid red;
  }

  figcaption h4 {
      border: 1px solid red;
  }

/* DETAILS */
  .details {
  width: 85%;
  margin: 5% auto;
  display: flex;
    border: 1px solid blue;
  flex-flow: row wrap;
  justify-content: space-between;
  }

  .details .wrapper {
  width: 225px;
    border: 1px solid purple;
    margin: 0 auto;
  }

  .detail {
  min-width: 220px;
    border: 1px solid red;
    margin: 1%;
  }

  .detail .title {
  display: flex;
  width: 70%;
  color: White;
  background-color: Black;
  height: 3em;
  align-items: center;
  }

/* FOOTER */



/* MEDIA QUERIES */
@media screen and (max-width: 736px){
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 900px){
    figure {
      max-width: 275px;
      min-width: 275px;
      height: 300px;
    }
  }
