/* UNIVERSAL STYLES */
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: Helvetica, sans-serif;
    width: 95%;
  }

/* HEADER */



/* HERO IMAGE */



/* NAVIGATION BAR */



/* PRODUCTS */
  .products {
    width: 85%;
    margin: 5% auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
      border: 1px solid blue;
  }

  figure {
    /* width: 50%; */
    max-width: 225px;
    min-width: 225px;
    height: 240px;
    margin: 1%;
    border: 3px solid Black;
    display: flex;
    flex-flow: column;
  }

/* this increases the size of the product */
/* boxes for desktop-size or above */
  @media screen and (min-width: 900px){
    figure {
      max-width: 275px;
      min-width: 275px;
      height: 300px;
    }
  }

  .image_wrapper {
    width: 95%;
    height: 70%;
    margin: auto;
    /* overflow:hidden; */
    display: flex;
      border: 1px solid purple;
  }

  figure img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
      border: 1px solid red;
      padding: 10%;
  }

  figcaption {
    background-color: Black;
    color: White;
    height: 3em;
    display: flex;
    /* margin: auto; */
    align-items: center;
    justify-content: center;
      border: 1px solid red;
  }

  figcaption h4 {
      border: 1px solid red;
  }

/* DETAILS */
  .details {
  width: 85%;
  margin: 5% auto;
  display: flex;
    border: 1px solid blue;
  flex-flow: row wrap;
  justify-content: space-between;
  }

  .details wrapper {
  width: 225px;
    border: 1px solid purple;
    margin: 0 auto;
  }

  .detail {
  min-width: 220px;
    border: 1px solid red;
    margin: 1%;
  }

  .detail .title {
  display: flex;
  width: 70%;
  color: White;
  background-color: Black;
  height: 3em;
  align-items: center;
  }

  .detail h3, p {
  margin-left: 5%
  }


/* FOOTER */



/* GENERAL MEDIA QUERIES */

@media screen and (max-width: 736px){
  body {
    font-size: 12px;
  }
}
